<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/logo.jpg"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Paulo Steinberg</h3>
        </div>
  
        <div class="text-center"><a href="https://www.linkedin.com/in/paulo-steinberg/?locale=en_US">Paulo Steinberg Linkedin</a></div><br>
        <div class="text-center">
          <a href="https://github.com/paulo-steinberg">https://github.com/paulo-steinberg</a>
        </div>
      </div>
    </div>
  </div>